@import './Styles/base/base';
@import './Styles/mixins/mixins';

@import './Styles/components/Header';

.App {
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
