/*######################################################################## 
                            FONT SIZE VARIABLES                                  
#########################################################################*/

$text-h1: 9.2rem;
$text-h2: 6rem;
$text-h3: 4.8rem;
$text-h4: 3.4rem;
$text-h5: 2.4rem;
$text-h6: 2rem;
$text-subtitle1: 1.6rem; 
$text-body1: 1.4rem; 
$text-caption: 1.2rem;
$text-overline: 1rem;

$text-light: 300;
$text-regular: 400;
$text-medium: 700;
$text-title: 900;